estabeditor-jaxbfx/src/main/resources/EstabData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:annox="http://annox.dev.java.net"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        jaxb:extensionBindingPrefixes="annox">

    <!-- ESTAB data -->

    <xs:element name="estab-data">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="image" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="side" maxOccurs="unbounded" minOccurs="2"/>
                <xs:element ref="vehicle" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="weapon" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="radio" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="ammo" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="formation-effects" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:int"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="image" type="Image"/>
    <xs:element name="side" type="Side"/>
    <xs:element name="vehicle" type="Vehicle"/>
    <xs:element name="weapon" type="Weapon"/>
    <xs:element name="radio" type="Radio"/>
    <xs:element name="ammo" type="Ammo"/>
    <xs:element name="formation-effects" type="FormationEffects"/>

    <!-- Images -->

    <xs:complexType name="Image">
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="file-id" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="file-id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Sides -->

    <xs:complexType name="Side">
        <xs:sequence>

            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="large-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="large-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="small-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="small-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="basics-consumption-rate" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="basics-consumption-rate")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="default-enemy-aper-fp" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="default-enemy-aper-fp")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="default-enemy-aarm-fp" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="default-enemy-aarm-fp")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="nation" type="Nation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Nation">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="nationality" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="large-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="large-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="small-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="small-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="service" type="Service" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Service">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="large-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="large-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="small-insignia" type="Insignia">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="small-insignia")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="rank-list" type="RankList">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="rank-list")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="default-icon-colors" type="DefaultIconColors">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="default-icon-colors")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="force" type="Force" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="RankList">
        <xs:sequence>
            <xs:element name="rank" type="Rank" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Rank">
        <xs:attribute name="short-name" type="xs:string">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="short-name")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="full-name" type="xs:string">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="full-name")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DefaultIconColors">
        <xs:sequence>
            <xs:element name="background-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="background-dark-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-dark-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="background-light-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-light-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="designation-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="designation-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="symbol-color" type="SymbolColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="symbol-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Force">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="icon" type="Icon">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="ForceType">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="sub-type" type="ForceSubtype">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="sub-type")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="ForceSize">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="combat-class" type="CombatClass">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="combat-class")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="target-class" type="TargetClass">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="target-class")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="infantry-value" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="infantry-value")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="recon-value" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="recon-value")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="engineering-value" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="engineering-value")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="move-type" type="MoveType">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="move-type")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="pers-qty" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="pers-qty")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="staff-capacity" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="staff-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="basics-qty" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="basics-qty")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="basics-consumption-rate-modifier" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="basics-consumption-rate-modifier")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="commander-rank" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="commander-rank")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="fuel-qty" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="fuel-qty")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="fuel-load" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="fuel-load")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="speed" type="SpeedData">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="deployment-duration" type="DeploymentDuration">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="deployment-duration")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ready-to-fire-duration" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="ready-to-fire-duration")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ready-to-bombard-duration" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="ready-to-bombard-duration")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="equipment-list" type="EquipmentList">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="equipment-list")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ammo-list" type="AmmoList">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="ammo-list")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="can-bombard" type="YesNo">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="can-bombard")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Icon">
        <xs:sequence>
            <xs:element name="background-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="background-dark-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-dark-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="background-light-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="background-light-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="designation-color" type="RGBColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="designation-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="symbol-color" type="SymbolColor">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="symbol-color")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="military-symbol" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="military-symbol")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="picture-symbol" type="PictureSymbol">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="picture-symbol")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="force-size-icon" type="ForceSize">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="force-size-icon")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="is-hq" type="YesNo">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="is-hq")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeploymentDuration">
        <xs:sequence>
            <xs:element name="deployed" type="xs:time">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlSchemaType(name="time")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <!--00:00-->
            <xs:element name="dug-in" type="xs:time">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="dug-in")
                        </annox:annotate>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlSchemaType(name="time")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <!--00:00-->
            <xs:element name="entrenched" type="xs:time">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlSchemaType(name="time")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <!--00:00:00-->
            <xs:element name="fortified" type="xs:time">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlSchemaType(name="time")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <!--00:00:00-->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EquipmentList">
        <xs:sequence>
            <xs:element name="equipment" type="Equipment" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Equipment">
        <xs:attribute name="equipment-object-id" type="xs:int">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="equipment-object-id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="name")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="qty" type="xs:int">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="qty")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AmmoList">
        <xs:sequence>
            <xs:element name="ammo" type="AmmoQty" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmmoQty">
        <xs:attribute name="ammo-object-id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="ammo-object-id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="name")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="qty" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="qty")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Vehicles -->

    <xs:complexType name="Vehicle">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="picture" type="Picture"/>
            <xs:element name="picture-filename" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true,
                            name="picture-filename")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="VehicleSize"/>
            <xs:element name="crew" type="xs:int"/>
            <xs:element name="reliability" type="Proportion"/>
            <xs:element name="armaments" type="ArmamentList"/>
            <xs:element name="type" type="VehicleType"/>
            <xs:element name="fuel-capacity" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="fuel-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="speed" type="VehicleSpeeds"/>
            <xs:element name="fuel-consumption" type="FuelConsumption">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="fuel-consumption")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ronsonability" type="Proportion"/>
            <xs:element name="max-gradient" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="max-gradient")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="max-fording-depth" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="max-fording-depth")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="max-trench-width" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="max-trench-width")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="towing-capacity" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="towing-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="personnel-capacity" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="personnel-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="bulk-fuel-capacity" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="bulk-fuel-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="payload-capacity" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="payload-capacity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="take-cover-mod" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="take-cover-mod")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="has-turret" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true,
                            name="has-turret")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="has-open-top" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true,
                            name="has-open-top")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="battle-weight" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="battle-weight")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="armour" type="Armor"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true, name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Picture">
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="VehicleSize">
        <xs:attribute name="width" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="width")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="height")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="length" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="length")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="weight" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="weight")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ArmamentList">
        <xs:sequence>
            <xs:element name="armament" type="Armament" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Armament">
        <xs:attribute type="xs:int" name="equipment-object-id" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,
                        name="equipment-object-id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" name="equipment-name" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,
                        name="equipment-name")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:int" name="qty" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true, name="qty")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="VehicleSpeeds">
        <xs:sequence>
            <xs:element name="road" type="SpeedData">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="cross-country" type="SpeedData">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="cross-country")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Armor">
        <xs:attribute name="front" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="front")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="side" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="side")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rear" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="rear")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="top" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="top")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Weapons -->

    <xs:complexType name="Weapon">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="picture" type="Picture">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="picture-filename" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="picture-filename")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="WeaponSize">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="crew" type="xs:int"/>
            <xs:element name="reliability" type="Proportion"/>
            <xs:element name="armaments" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="WeaponType">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="single-shot" type="YesNo">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="single-shot")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="primary-role" type="PrimaryRole">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="primary-role")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="calibre" type="xs:float"/>
            <xs:element name="muzzle-velocity" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="muzzle-velocity")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="must-deploy-to-fire" type="YesNo">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="must-deploy-to-fire")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="performance-list" type="PerformanceList">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="performance-list")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="WeaponSize">
        <xs:attribute name="width" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="width")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="height")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="length" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="length")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="weight" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="weight")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="PerformanceList">
        <xs:sequence>
            <xs:element name="performance" type="Performance" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Performance">
        <xs:sequence>
            <xs:element name="ammo" type="AmmoLoad">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="min-range" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="min-range")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="rof" type="ROF">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="burst-radius" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="burst-radius")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="shell-weight" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">@javax.xml.bind.annotation.XmlElement(name="shell-weight")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="range-table" type="RangeTable">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="range-table")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="fire-type" type="FireType">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="fire-type")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AmmoLoad">
        <xs:attribute name="object-id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="object-id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="name")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="load" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="load")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ROF">
        <xs:attribute name="slow" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(name="slow")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normal" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(name="normal")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rapid" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(name="rapid")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RangeTable">
        <xs:sequence>
            <xs:element name="range-item" type="RangeItem" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RangeItem">
        <xs:attribute name="range" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="range")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accuracy" type="Proportion" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="accuracy")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="armour-penetration" type="xs:float" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">
                        @javax.xml.bind.annotation.XmlAttribute(required=true,name="armour-penetration")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Radios -->

    <xs:complexType name="Radio">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="picture" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="picture-filename" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true, name="picture-filename")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="RadioSize">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="crew" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="reliability" type="Proportion"/>
            <xs:element name="armaments" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <!--why empty?-->
            <xs:element name="net-type" type="NetType">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true, name="net-type")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="freq-type" type="FreqType">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true, name="freq-type")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="max-range" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="max-range")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="gain" type="xs:float"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RadioSize"> <!-- weight OK, but the rest?  -->
        <xs:attribute name="width" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="width")</annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="height")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="length" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="length")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="weight" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="weight")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <!-- Ammo -->

    <xs:complexType name="Ammo">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="min-order-qty" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="min-order-qty")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="min-order-weight" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="min-order-weight")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Formation effects -->

    <xs:complexType name="FormationEffects">
        <xs:sequence>
            <xs:element name="moving-cohesion-level" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="moving-cohesion-level")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="frontage-per-man" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="frontage-per-man")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="depth-per-man" type="xs:float">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(name="depth-per-man")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="firing-percentages" type="FiringPercentages">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="firing-percentages")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="target-percentages" type="TargetPercentages">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true,name="target-percentages")
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="security" type="FormationSecurity">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="FormationType" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="type")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FiringPercentages">
        <xs:sequence>
            <xs:element name="front" type="Proportion"/>
            <xs:element name="left" type="Proportion"/>
            <xs:element name="right" type="Proportion"/>
            <xs:element name="rear" type="Proportion"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TargetPercentages">
        <xs:sequence>
            <xs:element name="front" type="Proportion"/>
            <xs:element name="left" type="Proportion"/>
            <xs:element name="right" type="Proportion"/>
            <xs:element name="rear" type="Proportion"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormationSecurity">
        <xs:sequence>
            <xs:element name="front" type="Security">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="left" type="Security">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="right" type="Security">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="rear" type="Security">
                <xs:annotation>
                    <xs:appinfo>
                        <annox:annotate target="setter">
                            @javax.xml.bind.annotation.XmlElement(required=true)
                        </annox:annotate>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- *****************  GLOBAL TYPES  ******************** -->


    <xs:simpleType name="Proportion">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Insignia">
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(required=true,name="id")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SpeedData">
        <xs:attribute name="max" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="max")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normal" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="normal")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FuelConsumption">
        <xs:attribute name="max" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="max")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normal" type="xs:float">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="normal")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RGBColor">
        <xs:attribute name="red" type="xs:int">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="red")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="green" type="xs:int">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="green")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="blue" type="xs:int">
            <xs:annotation>
                <xs:appinfo>
                    <annox:annotate target="setter">@javax.xml.bind.annotation.XmlAttribute(name="blue")
                    </annox:annotate>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- *****************  Enumerations  ******************** -->

    <xs:simpleType name="Security">
        <xs:restriction base="xs:string">
            <xs:enumeration value="min"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="max"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mob"/>
            <xs:enumeration value="road-column"/>
            <xs:enumeration value="line"/>
            <xs:enumeration value="successive-lines"/>
            <xs:enumeration value="square"/>
            <xs:enumeration value="arrow-head"/>
            <xs:enumeration value="left-echelon"/>
            <xs:enumeration value="right-echelon"/>
            <xs:enumeration value="vee"/>
            <xs:enumeration value="all-round-defence"/>
            <xs:enumeration value="in-situ"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FireType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aper"/>
            <xs:enumeration value="aarm"/>
            <xs:enumeration value="aair"/>
            <xs:enumeration value="bombard"/>
            <xs:enumeration value="smoke"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FreqType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hf"/>
            <xs:enumeration value="vhf"/>
            <xs:enumeration value="uhf"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NetType"> <!-- only one value?  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="land"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SymbolColor">
        <xs:restriction base="xs:string">
            <xs:enumeration value="black"/>
            <xs:enumeration value="white"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="YesNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ForceSize">
        <xs:restriction base="xs:string">
            <xs:enumeration value="section"/>
            <xs:enumeration value="platoon"/>
            <xs:enumeration value="company"/>
            <xs:enumeration value="battalion"/>
            <xs:enumeration value="brigade"/>
            <xs:enumeration value="regiment"/>
            <xs:enumeration value="division"/>
            <xs:enumeration value="corps"/>
            <xs:enumeration value="army"/>
            <xs:enumeration value="army-group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MoveType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="foot"/>
            <xs:enumeration value="wheeled"/>
            <xs:enumeration value="tracked"/>
            <xs:enumeration value="half-track"/>
            <xs:enumeration value="horse"/>
            <xs:enumeration value="bicycle"/>
            <xs:enumeration value="air"/>
            <xs:enumeration value="sea"/>
            <xs:enumeration value="sub"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CombatClass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="line"/>
            <xs:enumeration value="line-support"/>
            <xs:enumeration value="support"/>
            <xs:enumeration value="hq"/>
            <xs:enumeration value="base"/>
            <xs:enumeration value="static"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TargetClass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="soft"/>
            <xs:enumeration value="hard"/>
            <xs:enumeration value="mixed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PictureSymbol">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tank"/>
            <xs:enumeration value="assault-gun"/>
            <xs:enumeration value="light-tank"/>
            <xs:enumeration value="armoured-car"/>
            <xs:enumeration value="artillery"/>
            <xs:enumeration value="at-gun"/>
            <xs:enumeration value="heavy-flak"/>
            <xs:enumeration value="light-flak"/>
            <xs:enumeration value="rockets"/>
            <xs:enumeration value="sp-artillery"/>
            <xs:enumeration value="engineer"/>
            <xs:enumeration value="bridging"/>
            <xs:enumeration value="mech-inf"/>
            <xs:enumeration value="motor-inf"/>
            <xs:enumeration value="infantry"/>
            <xs:enumeration value="para"/>
            <xs:enumeration value="hq"/>
            <xs:enumeration value="hmg"/>
            <xs:enumeration value="mortar"/>
            <xs:enumeration value="base"/>
            <xs:enumeration value="ammo"/>
            <xs:enumeration value="fuel"/>
            <xs:enumeration value="bridge"/>
            <xs:enumeration value="heavy-tank"/>
            <xs:enumeration value="inf-gun"/>
            <xs:enumeration value="manpack"/>
            <xs:enumeration value="motorcycle"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ForceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="infantry"/>
            <xs:enumeration value="armour"/>
            <xs:enumeration value="artillery"/>
            <xs:enumeration value="logistics"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ForceSubtype">
        <xs:restriction base="xs:string">
            <!-- Infantry subtypes -->
            <xs:enumeration value="Infantry"/>
            <xs:enumeration value="Leg Infantry"/>
            <xs:enumeration value="Mot Infantry"/>
            <xs:enumeration value="Mech Infantry"/>
            <xs:enumeration value="Para Infantry"/>
            <xs:enumeration value="Glider Infantry"/>
            <xs:enumeration value="Combat Engineer"/>
            <xs:enumeration value="AT Infantry"/>
            <xs:enumeration value="SMG Infantry"/>
            <xs:enumeration value="MG Infantry"/>
            <xs:enumeration value="Hvy Wpns Infantry"/>
            <xs:enumeration value="Special Forces"/>
            <xs:enumeration value="Mountain Infantry"/>
            <xs:enumeration value="Bicycle Infantry"/>
            <xs:enumeration value="Cavalry"/>
            <xs:enumeration value="Leg Recon"/>
            <xs:enumeration value="Mot Recon"/>
            <xs:enumeration value="Mech Recon"/>
            <xs:enumeration value="Non-Armoured HQ"/>
            <!-- Armor subtypes -->
            <xs:enumeration value="Armour"/>
            <xs:enumeration value="Tank"/>
            <xs:enumeration value="Assault Gun"/>
            <xs:enumeration value="Inf Support AG"/>
            <xs:enumeration value="Tank Destroyer"/>
            <xs:enumeration value="Armoured Car"/>
            <xs:enumeration value="Armoured Recon"/>
            <xs:enumeration value="Flame-Thrower AFV"/>
            <xs:enumeration value="Armoured HQ"/>
            <!-- Artillery -->
            <xs:enumeration value="Artillery"/>
            <xs:enumeration value="Anti-Tank"/>
            <xs:enumeration value="SP AT"/>
            <xs:enumeration value="Mortar"/>
            <xs:enumeration value="SP Mortar"/>
            <xs:enumeration value="Howitzer"/>
            <xs:enumeration value="SP Howitzer"/>
            <xs:enumeration value="Gun"/>
            <xs:enumeration value="SP Gun"/>
            <xs:enumeration value="Inf Gun"/>
            <xs:enumeration value="SP Inf Gun"/>
            <xs:enumeration value="Rocket Launcher"/>
            <xs:enumeration value="SP RL"/>
            <xs:enumeration value="Flak"/>
            <xs:enumeration value="SP Flak"/>
            <xs:enumeration value="Mot Howitzer"/>
            <xs:enumeration value="Mot Mortar"/>
            <xs:enumeration value="Mot Gun"/>
            <xs:enumeration value="Mot Inf Gun"/>
            <xs:enumeration value="Mot RL"/>
            <xs:enumeration value="Mot Flak"/>
            <xs:enumeration value="Mot AT"/>
            <xs:enumeration value="Abn Arty"/>
            <xs:enumeration value="Para Arty"/>
            <!-- Logistics -->
            <xs:enumeration value="Logistics"/>
            <xs:enumeration value="Base"/>
            <xs:enumeration value="Bridge Engineer"/>
            <xs:enumeration value="Const Engineer"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VehicleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tank"/>
            <xs:enumeration value="tank-destroyer"/>
            <xs:enumeration value="assault-gun"/>
            <xs:enumeration value="self-propelled-artillery"/>
            <xs:enumeration value="armoured-car"/>
            <xs:enumeration value="other-afv"/>
            <xs:enumeration value="truck"/>
            <xs:enumeration value="car"/>
            <xs:enumeration value="motor-cycle"/>
            <xs:enumeration value="construction-vehicle"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WeaponType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="small-arm"/>
            <xs:enumeration value="rpg"/>
            <xs:enumeration value="mortar"/>
            <xs:enumeration value="gun"/>
            <xs:enumeration value="rocket-launcher"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PrimaryRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="anti-personnel"/>
            <xs:enumeration value="anti-armor"/>
            <xs:enumeration value="anti-air"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
